[Desktop Entry]
Encoding=UTF-8
Name=Lunar
Comment=Lunar P2P Cryptocurrency
Comment[fr]=Lunar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Lunar, eşten eşe kriptografik sanal para birimi
Exec=lunar-qt %u
Terminal=false
Type=Application
Icon=lunar128
MimeType=x-scheme-handler/lunar;
Categories=Office;Finance;
