[Unit]
Description=Lunar's distributed currency daemon
After=network.target

[Service]
User=lunarcore
Group=lunarcore

Type=forking
PIDFile=/var/lib/lunard/lunard.pid
ExecStart=/usr/bin/lunard -daemon -pid=/var/lib/lunard/lunard.pid \
-conf=/etc/lunarcore/lunar.conf -datadir=/var/lib/lunard -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
